<!-- registro-administrador.component.html -->
<div class="container mt-4">
  <h2>Registro de Administrador</h2>
  <form [formGroup]="adminForm" (ngSubmit)="registrar()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label>Nombre</label>
        <input class="form-control" formControlName="nombre" />
        <div class="text-danger" *ngIf="adminForm.get('nombre')?.touched && adminForm.get('nombre')?.invalid">
          Campo requerido
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Apellido</label>
        <input class="form-control" formControlName="apellido" />
        <div class="text-danger" *ngIf="adminForm.get('apellido')?.touched && adminForm.get('apellido')?.invalid">
          Campo requerido
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label>Edad</label>
        <input type="number" class="form-control" formControlName="edad" />
        <div class="text-danger" *ngIf="adminForm.get('edad')?.touched && adminForm.get('edad')?.invalid">
          Edad requerida y debe ser mayor a 0
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>DNI</label>
        <input class="form-control" formControlName="dni" />
        <div class="text-danger" *ngIf="adminForm.get('dni')?.touched && adminForm.get('dni')?.invalid">
          Campo requerido
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="mail" />
        <div class="text-danger" *ngIf="adminForm.get('mail')?.touched && adminForm.get('mail')?.invalid">
          Ingresá un email válido
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label>Contraseña</label>
        <input type="password" class="form-control" formControlName="password" />
        <div class="text-danger" *ngIf="adminForm.get('password')?.touched && adminForm.get('password')?.invalid">
          Contraseña requerida (mínimo 6 caracteres)
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label>Imagen de perfil 1</label>
        <input type="file" (change)="onImage1Selected($event)" class="form-control" />
      </div>
    </div>  

    <button class="btn btn-primary" type="submit">Registrarse</button>
  </form>
</div>
