<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="">  <img src="../../../assets/logo.png" 
       alt="Clínica Online"
       class="img-fluid d-inline-block align-middle"
       style="max-height: 48px;"></a> <!-- Cambié href="#" por routerLink="" para ir a Home -->

  <!-- Botón para el menú hamburguesa en pantallas pequeñas -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li  class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li *ngIf="user && rol=='paciente'" class="nav-item">
        <a class="nav-link" routerLink="mis-turnos/paciente" routerLinkActive="active">Mis Turnos</a>
      </li>
            <li *ngIf="user && rol=='especialista'" class="nav-item">
        <a class="nav-link" routerLink="mis-turnos/especialista" routerLinkActive="active">Mis Turnos</a>
      </li>
        <li *ngIf="user && rol=='especialista'" class="nav-item">
        <a class="nav-link" routerLink="pacientes" routerLinkActive="active">Pacientes</a>
      </li>
        <li *ngIf="user && rol=='administradore'" class="nav-item">
        <a class="nav-link" routerLink="turnos" routerLinkActive="active">Turnos</a>
      </li>
      <li *ngIf="!user || user==undefined" class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" routerLink="registro" routerLinkActive="active">Registrarse</a>
      </li>
       <li *ngIf="user" class="nav-item">
        <a class="nav-link" routerLink="mi-perfil" routerLinkActive="active">Mi Perfil</a>
      </li>
         <li *ngIf="user && rol=='administradore'" class="nav-item">
        <a class="nav-link" routerLink="usuarios" routerLinkActive="active">Usuarios</a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="" routerLinkActive="active">Log Out</a>
      </li>
         
    </ul>
  </div>
</nav>