<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/banner1.png" class="d-block w-100" alt="Clínica">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/banner2.png" class="d-block w-100" alt="Consultorio">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/banner3.png" class="d-block w-100" alt="Laboratorio">
    </div>
  </div>
</div>

<section class="descripcion">
  <div class="container text-center py-5 text-white">
    <h1 class="mb-4">Bienvenidos a Clínica OnLine</h1>
    <p>
      Especialistas en salud, con 6 consultorios, 2 laboratorios y una atención personalizada. Pedí tu turno online según profesional o especialidad.
    </p>
    <div class="mt-4">

    </div>
  </div>
</section>
