<h2>Panel de Usuarios</h2>
<div class="btn-group mb-3">
  <button class="btn btn-outline-primary" (click)="opcion = 'ver'">Ver Usuarios</button>
  <button class="btn btn-outline-primary" (click)="opcion = 'registrar'">Registrar Usuarios</button>
  <button class="btn btn-outline-primary" (click)="opcion = 'historia-clinica'">Ver Historias Clínicas</button>
</div>


  <app-registro *ngIf="opcion === 'registrar'" @fadeInOut></app-registro>
  <app-ver-usuarios *ngIf="opcion === 'ver'" @fadeInOut></app-ver-usuarios>
  <app-historias-clinicas-admin *ngIf="opcion === 'historia-clinica'" @fadeInOut></app-historias-clinicas-admin>

