<h2>Panel de Usuarios</h2>
<div class="btn-group mb-3">
  <button class="btn btn-outline-primary" (click)="opcion = 'ver'">Ver Usuarios</button>
  <button class="btn btn-outline-primary" (click)="opcion = 'registrar'">Registrar Usuarios</button>
  <button class="btn btn-outline-primary" (click)="opcion = 'historia-clinica'">Ver Historias Clínicas</button>
</div>



<!-- Contenedor para "Ver Usuarios" -->
<div *ngIf="opcion === 'ver'" @slideInOut class="slide-container">
  <app-ver-usuarios></app-ver-usuarios>
</div>

<!-- Contenedor para "Registrar Usuarios" -->
<div *ngIf="opcion === 'registrar'" @slideInOut class="slide-container">
  <app-registro></app-registro>
</div>

<!-- Contenedor para "Historias Clínicas" -->
<div *ngIf="opcion === 'historia-clinica'" @slideInOut class="slide-container">
  <app-historias-clinicas-admin></app-historias-clinicas-admin>
</div>